:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

body {
  box-sizing: border-box;
  font-size: 15px;
  background: var(--very-light-gray);
}

.main-container{
  margin: 50px 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

.container {
  width: 215px;
  height: 335px;
  padding: 75px;
  padding-left: 50px;
  padding-right: 50px;
}

.one {
  background: var(--bright-orange);
  border-radius: 0.8em 0 0 0.8em;
}

.two {
  background: var(--dark-cyan);
}

.three {
  background: var(--very-dark-cyan);
  border-radius: 0 0.8em 0.8em 0;
}

.heading {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  color: var(--very-light-gray);
}

.paragraph {
  font-family: "Lexend Deca", sans-serif;
  color: var(--transparent-white);
  line-height: 1.6;
  word-spacing: 1px;
}

.btn {
  background: var(--very-light-gray);
  font-family: "Lexend Deca", sans-serif;
  width: 140px;
  height: 45px;
  position: relative;
  top: 60px;
  border-radius: 50px;
  border: 2px var(--very-light-gray) solid;
}

.btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--very-light-gray);
}

.a {
  color: var(--bright-orange);
}

.b {
  color: var(--dark-cyan);
}

.c {
  color: var(--very-dark-cyan);
}

.attribution {
    margin-top: 30px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media Query */
@media (max-width: 962px) {
    main {
      flex-wrap: wrap;
    }
    .two {
      border-radius: 0 0.8em 0.8em 0;
    }
    .three {
      border-radius: 0 0 0.8em 0.8em;
    }
  }
  
  @media (max-width: 646px) {
    .one {
      border-radius: 0.8em 0.8em 0 0;
    }
  
    .two {
      border-radius: 0 0 0 0;
    }
    .three {
      border-radius: 0 0 0.8em 0.8em;
    }
  
    .container {
      width: 230px;
    }
  }